*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  	height: 100%;
  	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
ul li{list-style: none;}
img{vertical-align: top;}

/*End of Normalizing Styles*/

body {
	font-family: 'Roboto', sans-serif;
	color: #7F7D7D;
}
h2, h3 {
	text-align: center;
	margin-bottom: 30px;
}
a {
	color: rgb(48, 150, 150);
	text-decoration: none;
}
a:hover {
	color: coral;
}

.container {
	max-width: 2250px;
}

header {
	background-color: #fff;
	position: fixed;
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 0 50px 0 50px;
	width: 100%;
	top: 0;
}

/*** MENU ***/

.menu-wraper {
	max-width: 70%;
}
.menu-container {
	width: 100%;
	margin: 0px auto;
	display: flex;
    align-items: center;
	justify-content: space-between;
	min-height: 80px;
}
.menu-icon {
	display: none;
}
.menu-list {
	max-height: 100%;
	flex-wrap: wrap;
}
.menu-list > li {
	position: relative;
	width: fit-content;
	margin-right: 15px;
}
.menu-link {
	font-size: calc(20px + (32 - 20) * ((100vw - 992px) / (2250 - 992)));
	color: slategray;
}
.menu-link:hover {
	color: rgb(165, 207, 250);
	border-bottom: 2px solid rgb(165, 207, 250);
}
.menu-link.active {
	color: coral;
}
.menu-sublist {
	text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px;
    width: 300px;
	height: fit-content;
    z-index: 10000;
}
.menu-sublist ul {
	z-index: 10000;
}
.menu-sublist li {
	margin: 0px 0px 10px 0px;
	z-index: 10000;
}
.menu-sublist li:last-child {
	margin: 0;
}
.menu-sublink {
	font-size: 24px;
	color: slategray;
	z-index: 10000;
}
.menu-sublink:hover {
	color: rgb(165, 207, 250);
}
.menu-sublink.active {
	color: coral;
}
.menu-arrow {
	display: none;
}
/* ----------------------- */
body._pc .menu-list > li:hover .menu-sublist {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu-list > li {
	display: flex;
	align-items: center;
}
body._touch .menu-link {
	flex: 1 1 auto;
}
body._touch .menu-arrow {
	display: block;
	width: 1px;
	height: 1px;
	margin: 0px 0px 0px 10px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
	transform: rotate(0deg);
}

body._touch .menu-list > li._active .menu-sublist {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu-list > li._active .menu-arrow {
	transform: rotate(-180deg);
} 
/*** END OF MENU ***/

form {
	position: relative;
	width: 200px;
	height: 35px;
}
input {
	height: 35px;
	width: 0;
	padding: 0 15px 0 15px;
	border: none;
	outline: none;
	background: transparent;
	transition: .4s cubic-bezier(0, 0.8, 0, 1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
input:focus {
	width: 200px;
	z-index: 1;
}
button {
	background: slategray;
	border: none;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
}

.subheader {
	position: absolute;
	top: 90px;
	right: 0;
	display: flex;
    justify-content: right;
    align-items: center;
	padding: 0 30px 0 30px;
	width: 50%;
	/*z-index: -1;*/
}
.social-links {
	margin-right: 50px;
}
.fa-brands {
	color: slategray;
	font-size: 20px;
	margin-right: 10px;
}
#lang-en, #lang-ru, #lang-fr {
	color: slategray;
	font-size: 20px;
    margin-left: 30px;
}

.logo {
	width: 100%;
	padding-top: 90px;
}
.logo img {
	width: 100%;
}

.content {
	padding-top: 50px;
	display: flex;
	font-size: 24px;
}
main {
	width: 70%;
	margin-left: 50px;
}
article {
	margin-bottom: 50px;
}
article::after {
    content: "";
    display: table;
    clear: both;
}

.content-image {
	float: left;
	width: 50%;
	margin-right: 30px;
	margin-bottom: 20px;
}
.text {
	margin: 0 30px 0 0px;
	text-align: justify;
}
p {
	margin-bottom: 25px;
}
.more {
	text-align: right;
	font-size: 20px;
	font-style: italic;
}

aside {
	width: 25%;
}
.partners {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 80px;
}
.partners-title {
	background-color: slategray;
	color: #fff;
	padding: 30px;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
}
.partners-image {
	margin-top: 30px;
	text-align: center;
	width: 100%;
	
}
.partners-image img {
	width: 100%;
}

hr {
	margin: 50px auto;
    width: 94%;
    height: 2px;
    background-color: slategray;
    
}

footer {
	padding: 0 50px 30px 50px;
}
.footer-notes {
	display: flex;
	justify-content: space-between;
	color: #000;
}
.footer-right {
	text-align: right;
}
.footer-link {
	color: rgb(165, 207, 250);
	font-weight: 600;
}
.footer-link:hover {
	color: slategray;
}
#donation {
	color: crimson;
}
#donation:hover {
	color: slategray;
}
.copyright {
	margin: 25px auto;
	width: 100%;
	text-align: center;
}
#creator {
	font-weight: 600;
}
/*** ||| MEDIA QUAERIES ||| ***/

