* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
ul, ol {
    list-style: none;
}
body {
    background-color: #fcecd3;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER AND NAVBAR*/

header {
    background-color: #fff;
}
.logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px 10px;
}
.logo-img {
    width: 70px;
}
.text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #d0df8c;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 10px 10px 10px;
}
.nav-link {
    color: #d0df8c;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

/* SIGN UP FORM */
.form-title {
    width: 100%;
    margin: 15px auto;
    text-align: center;
}
.form-text {
    padding: 10px 15px 0;
    font-size: 14px;
}
.sign-up {
    padding: 15px 10px;
    font-size: 16px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.form {
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
}
.send {
    width: 100%;
    height: 30px;
    background-color: #d0df8c;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10px;
}
#city {
    margin-bottom: 30px;
}
#success-message-container {
    text-align: center;
    color: #05fa09;
}
#error-message-container {
    text-align: center;
    color: #F40909;
}

/* FOOTER */
footer {
    background-color: #fff;
    padding: 10px;
}
.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.address, .hours, .legal {
    text-align: center;
}
.second-line {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 690px) {
    header {
        background-color: #fff;
    }
    .logo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 20px 75px;
    }
    .logo-img {
        width: 70px;
    }
    .text {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #d0df8c;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0 50px 10px 50px;
    }
    .nav-link {
        color: #d0df8c;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
    }
}