*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  	height: 100%;
  	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*End of Normalizing Styles*/

body {
	font-family: 'Roboto', sans-serif;
}

/* MENU */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100vw;
}
 .menu-wraper {
	max-width: 70%;
}
.menu-container {
	width: 100%;
	margin: 0px auto;
	display: flex;
    align-items: center;
	justify-content: space-between;
	min-height: 80px;
}
.menu-icon {
	display: none;
}
.menu-list {
	max-height: 100%;
	flex-wrap: wrap;
}
.menu-list > li {
	position: relative;
	margin: 0px 10px 0px 10px;
    width: fit-content;
}
.menu-link {
	color: #000;
	font-size: 1.3rem;
}
.menu-sublist {
	text-align: left;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 15px;
	width: 300px;
	height: 100vh;
}
.menu-sublist li {
	margin: 0px 0px 10px 0px;
}
.menu-sublist li:last-child {
	margin: 0;
}
.menu-sublink:hover {
	color: silver;
}
.menu-arrow {
	display: none;
}
/* ----------------------- */
body._pc .menu-list > li:hover .menu-sublist {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu-list > li {
	display: flex;
	align-items: center;
}
body._touch .menu-link {
	flex: 1 1 auto;
}
body._touch .menu-arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 10px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000;
}
body._touch .menu-list > li._active .menu-sublist {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu-list > li._active .menu-arrow {
	transform: rotate(-180deg);
} 

/* ----------------------- */
@media (min-width: 950px) {
	.menu-list {
		display: flex;
		align-items: center;
	}
	.menu-list > li {
		padding: 10px 0;
	}
	.menu-sublist {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: 950px) {
	.menu-wraper {
		max-width: 20%;
	}
	.menu-icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		margin-left: 10px;
	}
	.menu-icon span,
	.menu-icon::before,
	.menu-icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}
	.menu-icon::before,
	.menu-icon::after {
		content: "";
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu-icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu-icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu-icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu-body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu-body._active {
		left: 0;
	}

	.menu-body::before {
		content: "";
		position: fixed;
		width: 10%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #fff;
		z-index: 20;
	}

	.menu-list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}
	.menu-list > li:last-child {
		margin-bottom: 0;
	}
	.menu-list > li._active .menu-sublist {
		display: block;
	}
	.menu-link {
		font-size: 24px;
	}
	.menu-sublist {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
	}
	.menu-sublink {
		font-size: 20px;
		color: #000;
	} 
}
/* MENU END */

 .languages {
	display: flex;
	justify-content: space-between;
	width: 55px;
        margin-left: 10px;
}


#lang-en, #lang-ru, #lang-fr {
    
} */

